body {
  background-color: #0f0f14;
  margin: 0;
  padding: 0;
}

.header {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
  background: #13141c;
  border-bottom: 1px solid #1c1f2e;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo-icon {
  color: #7c4dff;
  font-size: 18px;
  margin-left: 15px;
}

.logo h1 {
  color: white;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 1px;
}

.logo span {
  color: #7c4dff;
}


.header-actions {
  display: flex;
  align-items: center;
  gap: 15px;
}


.genre-select {
  width: 150px;
  height: 42px;
  background: #131727;
  color: white;
  border: 1px solid #2a2f45;
  border-radius: 10px;
  padding: 0 15px;
  font-size: 14px;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
}

.genre-select:hover {
  border-color: #7c4dff;
}

.add-btn {
  height: 42px;
  padding: 0 22px;
  margin-right: 40px;
  border: none;
  border-radius: 12px;
  background: #7c4dff;
  color: white;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

.add-btn:hover {
  background: #936bff;
  transform: translateY(-2px);
  box-shadow: 0 0 15px rgba(124, 77, 255, 0.5);
}